/* General Form Styles */
.WorkoutForm {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f2f2f2;
  font-family: "Arial", sans-serif;
}

.WorkoutForm form {
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
}

.WorkoutForm h1 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.WorkoutForm label {
  display: block;
  font-size: 1rem;
  margin-bottom: 5px;
  color: #555;
  font-weight: bold;
}

.WorkoutForm input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

.WorkoutForm input:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.WorkoutForm button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.WorkoutForm button:hover {
  background-color: #0056b3;
}

/* Gym-Themed Enhancements */
.WorkoutForm {
  background: linear-gradient(to bottom right, #6ab04c, #2980b9);
}

.WorkoutForm form {
  border: 2px solid #2980b9;
}

.WorkoutForm h1 {
  color: #2980b9;
}

.WorkoutForm label {
  color: #2980b9;
}

.WorkoutForm button {
  background-color: #6ab04c;
}

.WorkoutForm button:hover {
  background-color: #27ae60;
}
