/* General Layout Styles */
main {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: "Arial", sans-serif;
}

h1 {
  text-align: center;
  font-size: 2.5rem;
  color: #f2ecec;
  margin-bottom: 20px;
}

h2 {
  font-size: 2rem;
  color: #2980b9;
  margin-bottom: 15px;
}

/* Workout Details */
main ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

main ul li {
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: #555;
}

/* Exercise List */
ul {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}

ul li {
  background-color: #faf9f6;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 1rem;
  color: #333;
  position: relative;
  text-align: center;
  width: 170px;
  height: 170px;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s, background-color 0.3s;
}

ul li:hover {
  transform: scale(1.05);
  background-color: #e9ecef;
}

/* Links and Buttons */
li a {
  display: inline-block;
  margin-top: 10px;
  color: #007bff;
  text-decoration: none;
}

li a:hover {
  color: #0056b3;
  text-decoration: underline;
}

li button {
  background-color: #d9534f;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  font-size: 0.9rem;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 10px;
}

li button:hover {
  background-color: #c9302c;
}

/* Form Section */
section {
  margin-top: 30px;
  padding: 20px;
  background: linear-gradient(to bottom right, #6ab04c, #2980b9);
  border-radius: 10px;
  color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

section h2 {
  color: #fff;
}

/* Workout List Specific Styles */
.workout-list-main {
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(127, 124, 124, 0.1);
}

.workout-list-header {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.workout-list-header ul {
  list-style: none;
  padding: 0;
}

.workout-list-header ul li {
  font-size: 1.2rem;
  color: #333;
  background-color: #f4f4f9;
  padding: 20px;
  border-radius: 8px;
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s, background-color 0.3s;
}

.workout-list-header ul li:hover {
  transform: scale(1.1);
  background-color: #e9ecef;
}

/* Responsive Design */
@media (max-width: 600px) {
  main {
    padding: 10px;
  }

  h1 {
    font-size: 2rem;
  }

  ul li {
    font-size: 0.9rem;
    width: 120px;
    height: 120px;
  }
}
.workout-item-list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  background: #faf9f6;
}
.workout-item-header {
  background-color: #7f2b0a;
}
